<md-card layout="column" style="min-height:100vh;">
	<md-card-content>
	    <h1 class="md-toolbar-tools" layout-align="center center">Adicionar Artista</h1>
		<form name="artistForm">
			<div layout="column">
		    	<md-input-container class="md-block" flex-gt-xs>
			        <label>Nome</label>
			        <input type="text" name="name" required ng-model="artistCtrl.name">
			        <div ng-messages='artistForm.name.$error && artistForm.name.$dirty'>
			            <div ng-message="required">Este campo é obrigatório!</div>
			        </div>
		        </md-input-container>
		        <md-input-container class="md-block" flex-gt-xs flex="100">
			        <label>Imagem</label>
			        <input type="text" name="image"
			            ng-model="artistCtrl.image">
		        </md-input-container>
		    </div>
		</form>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<md-button class="md-raised md-primary" ng-click="artistCtrl.addArtist() && artistForm.name.$setPristine()" ng-disabled="artistForm.$invalid">
			Submeter
		</md-button>
	</md-card-actions>
</md-card>

<div layout="column" style="min-height:100vh; min-width: 765px;">
	<md-card >
		<md-card-content layout="column">
		    <h1 class="md-toolbar-tools" layout-align="center center">Pesquisar Artista</h1>
			<md-input-container class="md-block" flex-gt-xs>
		        <label>Nome</label>
		        <textarea type="text" name="name" ng-model="artistCtrl.nameToSearch"></textarea>
	    	</md-input-container>
		    <div layout="row" layout-align="end center" style="margin-top: -30px;">
		    	<md-button class="md-raised" ng-click="artistCtrl.search()">
					Buscar
				</md-button>
			</div>
		</md-card-content>
	</md-card>

</div>