<md-dialog layout-margin flex="30">
	<md-dialog-content>
		<md-card>
			<div class="md-avatar" align="center" ng-if="dialogCtrl.artist.image" 
			layout-align="center center" layout-margin>
			    <img style="border-radius: 100%;" ng-src="{{dialogCtrl.artist.image}}"
			   	width="100px;" height="100px;"/>
			</div>
			<md-card-content layout="column" layout-align="start start">
				<div class="md-list-item-text" layout="row">
			   		Nome: {{dialogCtrl.artist.name}}
			    </div>

				<md-list ng-if="dialogCtrl.hasAlbuns()" layout="column" layout-align="start center">
				    <div class="md-list-item-text" layout="row" style="margin-top: 10px;">
				   		Álbuns:
				    </div>
					<md-list-item class="md-line" ng-repeat="album in dialogCtrl.albuns" layout="column" style="margin-bottom: -15px;">
						<div layout="row">
							{{album.name}}
							<md-button class="md-icon-button" layout="row" layout-align="center center"
						    ng-click="album.showMusics = !album.showMusics" style="margin-top: -10px;">
						    	<md-icon ng-if="!album.showMusics">keyboard_arrow_down</md-icon>
						    	<md-icon ng-if="album.showMusics">keyboard_arrow_up</md-icon>
						    </md-button>
						</div>
						<md-list ng-if="album.showMusics" layout="column" layout-align="start center">
						    <div class="md-list-item-text" layout="row">
						   		Músicas:
						    </div>
						    <md-list-item class="md-line" ng-repeat="music in album.musics" layout="column" style="margin-bottom: -15px; margin-top: -20px;">
								{{music.name}}
						    </md-list-item>
						</md-list>
					</md-list-item>
				</md-list>
				
				<div layout="row" layout-align="start"  style="margin-top: 50px;">
					Nota:&nbsp;&nbsp;
			        <md-radio-group ng-model="dialogCtrl.artist.grade" layout="row">
				        <md-radio-button value="1">1</md-radio-button>
				        <md-radio-button value="2">2</md-radio-button>
				        <md-radio-button value="3">3</md-radio-button>
				        <md-radio-button value="4">4</md-radio-button>
				        <md-radio-button value="5">5</md-radio-button>
				    </md-radio-group>
				</div>
				<md-input-container class="md-block" style="margin-top: 30px;">
				    <label class="md-raised">Última música ouvida</label>
				    <input type="text" name="name" ng-model="dialogCtrl.artist.lastMusic">
			    </md-input-container>
			</md-card-content>
		</md-card>
	</md-dialog-content>
</md-dialog>