<md-card layout="column" style="min-height:100vh; min-width: 350px;">
	<md-card-content>
      	<h1 class="md-toolbar-tools" layout-align="center center">Criar Playlist</h1>
		<form name="criarPLForm">
			<div layout="column">
		    	<md-input-container class="md-block" flex-gt-xs>
			        <label>Nome</label>
			        <input type="text" name="name" ng-required="true" ng-model="playlistCtrl.name">
			        <div ng-messages='criarPLForm.name.$error'>
			            <div ng-message="required">Este campo é obrigatório!</div>
			        </div>
		        </md-input-container>
		    </div>
		</form>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center" style="margin-top: -20px; margin-bottom: 20px;">
		<md-button class="md-raised md-primary" ng-click="playlistCtrl.addPlaylist()" 
		ng-disabled="criarPLForm.$invalid">
			Submeter
		</md-button>
	</md-card-actions>

	<md-card-content>
      	<h1 class="md-toolbar-tools" layout-align="center center">Adicionar Música na Playlist</h1>
		<form name="addMusicPLForm">
			<div layout="column">
		    	<md-input-container class="md-block" flex-gt-xs>
			        <label>Nome da Música</label>
			        <input type="text" name="music" ng-required="true" ng-model="playlistCtrl.music">
			        <div ng-messages='addMusicPLForm.music.$error'>
			            <div ng-message="required">Este campo é obrigatório!</div>
			        </div>
		        </md-input-container>
		        <md-input-container class="md-block" flex-gt-xs>
			        <label>Nome do Álbum</label>
			        <input type="text" name="album" ng-required="true" ng-model="playlistCtrl.album">
			        <div ng-messages='addMusicPLForm.album.$error'>
			            <div ng-message="required">Este campo é obrigatório!</div>
			        </div>
		        </md-input-container>
		        <md-input-container class="md-block" flex-gt-xs>
			        <label>Nome da Playlist</label>
			        <input type="text" name="playlist" ng-required="true" ng-model="playlistCtrl.playlist">
			        <div ng-messages='addMusicPLForm.playlist.$error'>
			            <div ng-message="required">Este campo é obrigatório!</div>
			        </div>
		        </md-input-container>
		    </div>
		</form>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center" style="margin-top: -20px;">
		<md-button class="md-raised md-primary" ng-click="playlistCtrl.addMusic()" 
		ng-disabled="addMusicPLForm.$invalid">
			Submeter
		</md-button>
	</md-card-actions>
</md-card>

<div layout="column" style="min-height:100vh; min-width: 680px;">
	<md-card style="min-height:100vh;">
		<md-card-content layout="column">
	    	<h1 class="md-toolbar-tools" layout-align="center center">Playlists</h1>
		</md-card-content> 

		<md-list style="margin-top: -15px;" 
		ng-repeat="playlist in playlistCtrl.playlists">
			<md-list-item ng-click="playlistCtrl.showDetails(playlist)">
				<md-button class="md-icon-button" layout="row" layout-align="center center"
			    ng-click="playlistCtrl.removePlaylist(playlist)" title="Excluir">
			    	<md-icon style="color: red;">close</md-icon>
			    </md-button>
			    <div class="md-list-item-text" layout="row">
			   		{{playlist.name}}
			    </div>
			</md-list-item>
		</md-list>
	</md-card>
</div>
